<div class="container" id="edit">
	<br>
	<% if flash[:notice] %>
		<div class="notice alert alert-danger alert-dismissible" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	<% end %>

	<div class="wrapper" id="edit-wrapper">
				<h1 id="edit-welcome" class="col-lg-6"> change what you want, <span style="color: #000085"><%= current_user.show_username %></span> </h1>

			<div class="col-md-6" id="edit-content">
				<%= form_for @user, url: profile_update_path, method: 'post' do |f| %>

				  <%= f.text_field :name, class: "text-center", placeholder: "name", placeholder: "name" %>
					<br>
				  <%= f.text_field :email, class: "text-center", placeholder: "email" %>
					<br>
			    <%= f.text_field :username, class: "text-center", placeholder: "username" %>
					<br>
				  <%= f.password_field :password, class: "text-center", placeholder: "password" %>
					<br>
				  <%= f.password_field :password_confirmation, class: "text-center", placeholder: "confirm password" %>
					<br>
				  <%= f.submit "update", class: "edit-btn text-center" %>

				<% end %>
			</div>
		</div>
</div>
