<div class="container" id="signup" style="margin-top: 0px;">
	<br>
	<% if flash[:notice] %>
		<div class="notice alert alert-danger alert-dismissible" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	<% end %>

	<div class="wrapper" id="signup-wrapper">
		<div class="col-md-6" id="signup-welcome">
			<h1><span style="color: #000085">join us</span>, you know you wanna</h1>
		</div>

		<div class="col-md-6" id="signup-content">
			<%= form_for @user, url: '/' do |f| %>

			  <%= f.text_field :name, class: "text-center", placeholder: "full name" %>
			  <br>
				<%= f.email_field :email, class: "text-center", placeholder: "email" %>
			  <br>
		    <%= f.text_field :username, class: "text-center", placeholder: "username" %>
			  <br>
				<%= f.password_field :password, class: "text-center", placeholder: "password" %>
			  <br>
				<%= f.password_field :password_confirmation, class: "text-center", placeholder: "confirm password" %>
				<br>
			  <%= f.submit "dame agua", class: "signup-btn text-center" %>

			<% end %>
		</div>
	</div>
</div>
