<div class="container" id="signup-form" style="margin-top: 0px;">
	<br>
	<% if flash[:notice] %>
		<div class="notice alert alert-danger alert-dismissible" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	<% end %>

	<div class="row">
		<div class="col-md-4" id="signup-h">
			<h1>Sign Up for Dame Agua</h1>
		</div>
	  <div class="divider-vertical" id="signup-vertical"></div>

		<div class="col-md-4">
			<%= form_for @user, url: '/' do |f| %>

			  name: <br> <%= f.text_field :name, class: "text-center" %>
			  <br>
			  email: <br> <%= f.email_field :email, class: "text-center" %>
			  <br>
		    username:  <br> <%= f.text_field :username, class: "text-center" %>
			  <br>
			  password: <br> <%= f.password_field :password, class: "text-center" %>
			  <br>
			  confirm password: <br> <%= f.password_field :password_confirmation, class: "text-center" %>
			  <br>

				<div>
					<%= f.label :filepicker_url, "upload an avi" %> <br>
					<%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
				</div>

		    <div class="divider-horizontal"></div>
			  <%= f.submit "dame agua", class: "signup-btn text-center" %>

			<% end %>
		</div>
	</div>
</div>
