<div class = "container" id="profile">

		<h1> welcome back, <p style="color: #b81f00"><%= current_user.show_username %></p> </h1>
		<div class="divider-horizontal"></div>
		<img src="<%= current_user.filepicker_url%>" alt="user logo" >

		<p> name: <%= current_user.show_name %> </p>
		<p> email: <%= current_user.show_email %> </p>
		<p> home city: <%= current_user.show_home %> </p>

</div>
