<div id="whole-page">
<div id="my-carousel" class="carousel slide row" style="bottom: 30px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my-carousel" data-slide-to="1"></li>
    <li data-target="#my-carousel" data-slide-to="2"></li>
    <li data-target="#my-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active" id="deal-item">
      <a href="#thedeal"><div class="overlay"></div>
        <img src="/assets/thedeal.jpg" style="height: 100%; width: 100%;" />
        <div class="carousel-caption" style="color: white;">
          <h1>the deal.</h1>
          <p>We're here to help you understand the environmental impact of global overconsumption, all while staying hydrated.</p>
        </div>
      </a>
    </div>

    <div class="item" id="agua-item">
      <div class="overlay"></div>
      <a href="#findagua">
        <img src="/assets/findagua.jpg" style="height: 100%; width: 100%;" />
        <div class="carousel-caption" style="color: black;">
          <h1>find agua.</h1>
          <p>Thirsty, but on the run? Say no to plastic and let us help you find a free water source.</p>
        </div>
      </a>
    </div>

    <!-- <div class="item" id="bottles-item">
      <div class="overlay"></div>
      <a href="#findbottles">
        <img src="/assets/findbottles2.jpg" style="height: 100%; width: 100%;" />
        <div class="carousel-caption" style="color: black;">
          <h1>find bottles.</h1>
          <p>The bottle is as important as the agua. We have options for any budget.</p>
        </div>
      </a>
    </div> -->

    <div class="item" id="tapout-item">
      <div class="overlay"></div>
      <a href="#tapout">
        <img src="/assets/tapout.jpg" style="height: 100%; width: 100%;" id="tapout-img"/>
        <div class="carousel-caption" style="color: black;">
          <h1>tap out.</h1>
          <p>The earth needs water and so do you! Get some tips on how you can stay hydrated.</p>
        </div>
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">previous</span>
  </a>
  <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">next</span>
  </a>
</div>

<div data-spy="scroll" data-target="#dame-navbar">
  <div class="navbar-fixed-bottom" id="dame-navbar">
    <ul class="nav navbar-nav nav-tabs list-unstyled navbar-right" role="tablist" style="border: none;">
      <li><a href="#thedeal">the deal<span class="sr-only">(current)</span></a></li>
      <li><a href="#dameagua">find agua <span class="sr-only">(current)</span></a></a></li>
      <!-- <li><a href="#findbottles">find bottles <span class="sr-only">(current)</span></a></a></li> -->
      <li><a href="#tapout">tap out <span class="sr-only">(current)</span></a></a></li>
    </ul>

    <ul class="user nav navbar-nav nav-tabs navbar-left" id="navbar" style="color:white">
      <li class="dropdown">
        <% if current_user.present? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-tint"</a>
            <ul class="dropdown-menu" id="logout-drop">
              <li>
                <%= link_to 'profile', profile_path %>
                <%= link_to 'logout', logout_path %>
              </li>
        <% else %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">login</a>
          <ul class="dropdown-menu">
            <li>
              <%= form_tag "/login", class: "navbar-form navbar-left", role: "signin", id: "signin-form" do %>
                <div class="form-group">
                  <%= text_field_tag :username, nil, class: "form-control text-center", placeholder: "username" %>
                  <%= password_field_tag :password, nil, class: "form-control text-center", placeholder: "password", id: "signin-password" %>

                </div>
                <%= button_tag "get agua", class: "btn-submit btn btn-default btn-block", id: "btn-submit" %>
                <%= link_to "need help?", "/help", class: "btn-help btn btn-default btn-block", id: "btn-help" %>
              <% end %>
            </li>
          </ul>
          <li><a href="/signup">sign up</a></li>
      <% end %>
    </ul>
  </div>

  <div class="container-fluid content">
     <div id="thedeal">
        <%= render partial: "pages/thedeal" %>
     </div>
     <div id="dameagua">
        <%= render partial: "pages/dameagua" %>
     </div>
     <div id="tapout">
       <%= render partial: "pages/tapout" %>
     </div>
  </div>
</div>
</div>
