<div class="container" id="edit-form" style="margin-top: 0px;">
	<h1>Update User Profile</h1>
  <div class="divider-horizontal"></div>

	<%= form_for @user, url: edit_admin_user_path, method: 'get' do |f| %>

	  name: <br> <%= f.text_field :name, class: "text-center" %>
		<br>
	  email: <br> <%= f.text_field :email, class: "text-center" %>
		<br>
    username:  <br> <%= f.text_field :username, class: "text-center" %>
		<br>
	  password: <br> <%= f.password_field :password, class: "text-center" %>
		<br>
	  password confirmation: <br> <%= f.password_field :password_confirmation, class: "text-center" %>

		<div>
			<%= f.label :filepicker_url, "upload an avi" %> <br>
			<%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
		</div>

    <div class="divider-horizontal"></div>
	  <%= f.submit "update user", class: "edit-user text-center" %>

	<% end %>

</div>
