<div class="container" id="signup-form" style="margin-top: 0px;">
	<h1>Create a New User</h1>
  <div class="divider-horizontal"></div>

	<%= form_for @user, url: '/admin/users', method: 'post' do |f| %>

	  name: <br> <%= f.text_field :name, class: "text-center" %>
	  email: <br> <%= f.text_field :email, class: "text-center" %>
    username:  <br> <%= f.text_field :username, class: "text-center" %>
	  password: <br> <%= f.password_field :password, class: "text-center" %>
	  password confirmation: <br> <%= f.password_field :password_confirmation, class: "text-center" %>

		<div>
			<%= f.label :filepicker_url, "upload an avi" %> <br>
			<%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
		</div>

    <div class="divider-horizontal"></div>
	  <%= f.submit "dame agua", class: "signup-btn text-center" %>

	<% end %>

</div>
