<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar navbar-default navbar-fixed-top" id="navbar" style="color: white">
<div class="container-fluid" id="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/" style="font-size: 20px; color: white">Dame Agua</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
  <ul id="navbar" class="user nav navbar-nav navbar-left" style="color: white">
    <li><a href="/thedeal">what's the deal? <span class="sr-only">(current)</span></a></li>
    <li><a href="/dameagua">find agua</a></li>
    <li><a href="/findbottles">find a bottle</a></li>
    <li><a href="/tapout">#tapout</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" id="navbar" style="color:white">
    <li class="dropdown">
      <% if current_user.present? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-tint"</a>
          <ul class="dropdown-menu" id="logout-drop">
            <li>
              <%= link_to 'profile', profile_path %>
              <%= link_to 'logout', logout_path %>
            </li>
      <% else %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">login</a>
        <ul class="dropdown-menu">
          <li>
            <%= form_tag "/login", class: "navbar-form navbar-left", role: "signin", id: "signin-form" do -%>
              <div class="form-group">
                <%= text_field_tag :username, nil, class: "form-control text-center", placeholder: "username" %>
                <%= password_field_tag :password, nil, class: "form-control text-center", placeholder: "password" %>

              </div>
              <%= button_tag "get agua", class: "btn btn-default btn-block" %>
              <%= link_to "need help?", "/help", class: "btn btn-default btn-block" %>
            <% end %>
          </li>
        </ul>
        <li><a href="/signup">sign up</a></li>
    <% end %>
  </ul>
</div><!-- /.navbar-collapse -->
