<!DOCTYPE html>
<html>
<head>
  <title>Dame Agua</title>


  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVbwB4MDPuOyIgFJtOxjM-4Xt5CLZXoyw"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>


</head>

<body data-spy="scroll" data-target="#dame-navbar" class="<%= controller_name %> <%= action_name %>" style="background-color: #ededed; font-family: 'Quicksand', sans-serif !important;">

  <div class="navbar-fixed-bottom" id="dame-navbar">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="/dameagua">Dame Agua<span class="sr-only">(current)</span></a></li>
      <li><a href="#home">overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#thedeal">what's the deal? <span class="sr-only">(current)</span></a></li>
      <li><a href="#dameagua">find agua <span class="sr-only">(current)</span></a></a></li>
      <li><a href="#findbottles">find a bottle <span class="sr-only">(current)</span></a></a></li>
      <li><a href="#tapout">#tapout <span class="sr-only">(current)</span></a></a></li>
    </ul>
  </div>

  <div class="container-fluid content">
     <div id="home">
         <%= render partial: "pages/home" %>
     </div>
     <div id="thedeal">
         <%= render partial: "pages/thedeal" %>
     </div>
     <div id="dameagua">
         You better stay away from bears, they are bad news.
     </div>
     <div id="findbottles">
         <%= render partial: "pages/findbottles" %>
     </div>
     <div id="tapout">
       <%= render partial: "pages/tapout" %>
     </div>
    </div>

<%= yield %>

  <!-- filepicker -->
  <%= filepicker_js_include_tag %>
</body>
</html>
