<!DOCTYPE html>
<html>
<head>
  <title>Dame Agua</title>


  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVbwB4MDPuOyIgFJtOxjM-4Xt5CLZXoyw"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>


</head>

<body data-spy="scroll" data-target="navbar" class="<%= controller_name %> <%= action_name %>" style="background-color: #ededed; font-family: 'Quicksand', sans-serif !important;">


    <% if current_admin.present? %>
      <%= render partial: "layouts/adminnav" %>
    <% else %>
      <%= render partial: "layouts/navbar" %>
    <% end %>

  </div>
</div>

<% if current_admin.present? %>
  <%= render partial: "layouts/adminfooter" %>
<% else %>
  <%= render partial: "layouts/footer" %>
<% end %>

<%= yield %>

  <!-- filepicker -->
  <%= filepicker_js_include_tag %>
</body>
</html>
