<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dame Agua</title>


  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVbwB4MDPuOyIgFJtOxjM-4Xt5CLZXoyw"></script>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>

<body class="scroll" data-spy="scroll" data-target="#dame-navbar" style="position:relative; height: 100%; overflow-y: scroll;" class="<%= controller_name %> <%= action_name %>" style="background-color: #ededed; font-family: 'Quicksand', sans-serif !important;">

  <% if current_page?('/') %>
    <%= render partial: "layouts/navbar" %>
  <% else %>
    <%= render partial: "layouts/gohomenav" %>
  <% end %>

  <%= yield %>

  <!-- filepicker -->
  <%= filepicker_js_include_tag %>

</body>
</html>
