<!DOCTYPE html>
<html>
<head>
  <title>Dame Agua</title>

  <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="color: white">
  <div class="container-fluid" id="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-size: 20px; color: white">Dame Agua</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left" style="color: white">
        <li><a href="/thedeal">what's the deal? <span class="sr-only">(current)</span></a></li>
        <li><a href="/dameagua">find agua</a></li>
        <li><a href="/findbottles">find a bottle</a></li>
        <li><a href="/tapout">#tapout</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">login</a>
          <% if current_user %>
            <%= link_to 'logout', logout_path %>
          <% else %>
            <ul class="dropdown-menu">
              <li>
                <%= form_tag "/login", class: "navbar-form navbar-left", role: "signin", id: "signin-form" do -%>
                <div class="form-group">
                  <%= text_field_tag :username, nil, class: "form-control text-center", placeholder: "username" %>
                  <%= text_field_tag :password, nil, class: "form-control text-center", placeholder: "password" %>

                </div>
                <%= button_tag "login", class: "btn btn-default btn-block" %>
                <%= link_to "need help?", "/help", class: "btn btn-default btn-block" %>
              <% end -%>
            <% end %>
            </li>
          </ul>
        <li><a href="/signup">sign up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <nav class="navbar navbar-default navbar-fixed-bottom" id="footer" style="min-height: 27px; color: white">
    <div class="container">
      <a href="http://www.thedopefactory.com" style="color: white">created by The Dope Factory.</a>
    </div>
  </nav>

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
